*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
body{
    background: #000;
}

.header{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 45px;
    color: white;
}
.list-group{
    width: 67%;
    margin: 0 auto;
}
.list-group-item{
    height: 50px;
    font-size: 25px;
    border: 1px solid black;
    line-height: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    background:white;
}
    